<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(#{cars.create.title})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="#{cars.create.title}">Add car</h1>
    <hr>
    <form method="POST" th:action="@{/cars/create}" th:object="${carDTO}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                    <ul>
                        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="model"><strong th:text="#{cars.model}">Model</strong></label>
                    <input type="text" id="model" name="model" class="form-control" th:field="*{model}"
                           th:placeholder="#{cars.model}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="year"><strong th:text="#{cars.year}">Year</strong></label>
                    <input type="number" id="year" name="year" class="form-control" th:field="*{year}"
                           th:placeholder="#{cars.year}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="imageFile"><strong th:text="#{cars.image}">Image</strong></label>
                    <input type="file" id="imageFile" name="imageFile" class="form-control-file">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button th:text="#{button.save}" class="btn btn-dark">Save</button>
                    <a th:href="@{/cars}" th:text="#{button.cancel}" class="btn btn-outline-dark">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
