<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(${car.model} + ' ' + ${car.year})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="${car.model} + ' ' + ${car.year}">Toyota Prius 2009</h1>
    <hr>
    <form method="POST" th:action="@{/cars/{id}/edit(id = ${car.id})}" th:object="${car}">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label for="model"><strong th:text="#{cars.id}">Id</strong></label>
                    <input type="text" id="id" name="id" class="form-control" th:field="*{id}"
                           th:placeholder="#{cars.id}"
                           th:errorclass="is-invalid" disabled>
                    <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="model"><strong th:text="#{cars.model}">Model</strong></label>
                    <input type="text" id="model" name="model" class="form-control" th:field="*{model}"
                           th:placeholder="#{cars.model}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="year"><strong th:text="#{cars.year}">Year</strong></label>
                    <input type="number" id="year" name="year" class="form-control" th:field="*{year}"
                           th:placeholder="#{cars.year}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger small">Error</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button th:text="#{button.save}" class="btn btn-dark">Save</button>
                    <a th:href="@{/cars/{id}/view(id = ${car.id})}" th:text="#{button.cancel}" class="btn btn-outline-dark">Cancel</a>
                </div>
                <div class="form-group">
                    <a th:text="#{button.delete}" th:href="@{/cars/{id}/delete(id = ${car.id})}" class="text-danger">Delete</a>
                </div>
            </div>
        </div>
    </form>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
