<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head(#{cars.title})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:if="${#request.getRequestURI().equals('/cars')}" th:text="#{cars.title.all}">All cars</h1>
    <h1 th:if="${#request.getRequestURI().equals('/cars/user')}" th:text="#{cars.title.my}">My cars</h1>
    <a th:text="#{button.create}" th:href="@{/cars/create}" class="btn btn-outline-dark">Add new</a>
    <hr>
    <div class="bg-light p-5 rounded">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="form-group">
                    <label th:text="#{label.company}">Company</label>
                    <select class="selectpicker form-control"
                            data-live-search="true"
                            data-style="input-border" onchange="this.form.submit()">
                        <option value="">-</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{cars.id}">Id</th>
                    <th th:text="#{cars.model}">Model</th>
                    <th th:text="#{cars.year}">Year</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${carsPage.content}" th:onclick="'location.href = \'/cars/' + ${car.id} + '/view\';'">
                    <td th:text="${car.id}">1</td>
                    <td th:text="${car.model}">Toyota Prius</td>
                    <td th:text="${car.year}">2009</td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center" th:if="${carsPage.totalPages > 1}">
                <li class="page-item"
                    th:classappend="${carsPage.number == 0} ? disabled">
                    <a class="page-link"
                       th:href="@{/cars(page=${carsPage.number - 1}, size=${carsPage.size})}">&lt;</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, carsPage.totalPages - 1)}"
                    th:classappend="${i == carsPage.number} ? active">
                    <a class="page-link"
                       th:href="@{/cars(page=${i}, size=${carsPage.size})}"
                       th:text="${i + 1}"></a>
                </li>
                <li class="page-item"
                    th:classappend="${carsPage.number == carsPage.totalPages - 1} ? disabled">
                    <a class="page-link"
                       th:href="@{/cars(page=${carsPage.number + 1}, size=${carsPage.size})}">&gt;</a>
                </li>
            </ul>
        </div>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
