<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head(${car.model} + ' ' + ${car.year})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="${car.model} + ' ' + ${car.year}">Toyota Prius 2009</h1>
    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')} or ${#authentication.principal.id} == ${car.user.id}"
       th:text="#{button.edit}" th:href="@{/cars/{id}/edit(id = ${car.id})}" class="btn btn-outline-dark">Edit</a>

    <div th:if="${successMsg} != null">
        <hr>
        <div th:text="#{cars.create.success}" class="alert alert-success" role="alert">
            Car has been created successfully!
        </div>
    </div>

    <hr>
    <div th:object="${car}" class="row">
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label for="id"><strong th:text="#{cars.id}">Id</strong></label>
                <input type="text" id="id" name="id" class="form-control-plaintext" th:field="*{id}"
                       th:placeholder="#{cars.id}"
                       th:errorclass="is-invalid" disabled>
                <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger small">Error</p>
            </div>
            <div class="form-group">
                <label for="model"><strong th:text="#{cars.model}">Model</strong></label>
                <input type="text" id="model" name="model" class="form-control-plaintext" th:field="*{model}"
                       th:placeholder="#{cars.model}"
                       th:errorclass="is-invalid" disabled>
                <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger small">Error</p>
            </div>
            <div class="form-group">
                <label for="year"><strong th:text="#{cars.year}">Year</strong></label>
                <input type="number" id="year" name="year" class="form-control-plaintext" th:field="*{year}"
                       th:placeholder="#{cars.year}"
                       th:errorclass="is-invalid" disabled>
                <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger small">Error</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img th:src="@{/uploads/{image}(image = ${car.image})}">
        </div>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
