<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="*{title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }

        tbody {
            cursor: pointer;
        }

        .form-group label {
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">JAVA2-7</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" aria-current="page" th:text="#{login.title}" th:href="@{/login}" th:classappend="${#request.getRequestURI().equals('/login')} ? active">Login</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" aria-current="page" th:text="#{register.title}" th:href="@{/register}" th:classappend="${#request.getRequestURI().equals('/register')} ? active">Register</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" aria-current="page" th:text="#{cars.title.all}" th:href="@{/cars}" th:classappend="${#request.getRequestURI().equals('/cars')} ? active">All cars</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" aria-current="page" th:text="#{cars.title.my}" th:href="@{/cars/user}" th:classappend="${#request.getRequestURI().equals('/cars/user')} ? active">My cars</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:text="#{users.title}" th:href="@{/users}" th:classappend="${#request.getRequestURI().equals('/users')} ? active">Users</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" sec:authentication="principal.fullName" th:href="@{/users}">John Admin</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false"
                           th:text="${#locale.toLanguageTag().toUpperCase()}"
                        ></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" th:href="@{''(lang='lt')}"
                                   th:unless="${#locale.toString().equals('lt')}">LT</a></li>
                            <li><a class="dropdown-item" th:href="@{''(lang='en')}"
                                   th:unless="${#locale.toString().equals('en')}">EN</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input th:text="#{input.search}" th:placeholder="#{input.search}" class="form-control me-2" type="search" aria-label="Search">
                    <button th:text="#{button.search}" class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer"></footer>

</body>
</html>
