<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(${car.model})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <div class="row">
        <div class="col">
            <h1>In car.html with id = <span th:text="${car.id}"></span></h1>
            <p th:text="${car.id}"></p>
            <p th:text="${car.model}"></p>
            <p th:text="${car.year}"></p>
        </div>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
