<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="'Error in custom error page ' + ${path} + ' with attribute = ' + ${customAttribute}"></h1>

</body>
</html>
