<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout :: head(#{login.title})"></head>
<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="#{login.title}">Login</h1>
    <div th:if="${param.error != null}" th:text="#{login.error}" class="alert alert-danger" role="alert">
        Bad username or password!
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <form method="POST" th:action="@{/login}" th:object="${user}">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                    <ul>
                        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" th:field="*{username}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" th:field="*{password}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger small">Error</p>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
