<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout :: head(#{register.title})"></head>
<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="#{register.title}">Register</h1>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <form method="POST" th:action="@{/register}" th:object="${userRegistrationDTO}">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                    <ul>
                        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" id="username" name="username" class="form-control" th:field="*{username}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" th:field="*{password}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm password</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" th:field="*{passwordConfirm}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="firstName" id="firstName" name="firstName" class="form-control" th:field="*{firstName}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="lastName" id="lastName" name="lastName" class="form-control" th:field="*{lastName}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" class="form-control" th:field="*{age}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger small">Error</p>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
