<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(#{page.users.title})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1>In users.html</h1>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Age</th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.age}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>


</body>
</html>
